<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.OrderMapper">

    <insert id="insertOrder" parameterType="JavaBean.order"
            useGeneratedKeys="true"
            keyProperty="orderCode"
            keyColumn="orderCode"
    >
        INSERT INTO orders (orderCode, orderTime, orderPrice)
        VALUES (#{orderCode}, #{orderTime}, #{orderPrice})
    </insert>

    <select id="getAllOrders" resultType="JavaBean.order">
        SELECT orderCode , orderTime, orderPrice
        FROM orders
        ORDER BY orderCode
    </select>

    <select id="getOrderByCode" parameterType="int" resultType="JavaBean.order">
        SELECT orderCode, orderTime, orderPrice
        FROM orders
        WHERE orderCode = #{orderCode}
    </select>

    <delete id="deleteOrderByCode" parameterType="int">
        DELETE FROM orders WHERE orderCode = #{orderCode}
    </delete>

    <update id="updateOrder" parameterType="JavaBean.order">
        UPDATE orders
        SET orderTime = #{orderTime}, orderPrice = #{orderPrice}
        WHERE orderCode = #{orderCode}
    </update>

</mapper>